<!-- about -->
<section class="about-section">
    <div class="container">
        <h2 class="title">Чим ми займаємося</h2>
        <ul class="about-section__list list">
            <li>
                <div><img class="about-section__image"
                        srcset="./img/block-diagrams.jpg 1x, ./img/block-diagrams@2x.jpg 2x"
                        src="./img/block-diagrams.jpg" alt="блок-схеми" width="370">
                </div>
                <p class="about-section__text">Десктопні додатки</p>
            </li>
            <li>
                <div><img class="about-section__image" srcset="./img/layouts.jpg 1x, ./img/layouts@2x.jpg 2x"
                        src="./img/layouts.jpg" alt="макети" width="370"></div>
                <p class="about-section__text">Мобільні додатки</p>
            </li>
            <li>
                <div><img class="about-section__image" srcset="./img/design.jpg 1x, ./img/design@2x.jpg 2x"
                        src="./img/design.jpg" alt="дизайн" width="370"></div>
                <p class="about-section__text">Дизайнерські рішення</p>

            </li>
        </ul>
    </div>
</section>