<!-- clients section -->
<section class="clients-section">
    <div class="container">
        <h2 class="title">Постійні клієнти</h2>
        <ul class="clients-list list">
            <li class="clients-list__item"><a class="clients-list__link link" href=""><svg class="clients-list__icon"
                        width="106" height="60">
                        <use href="./img/icons.svg#icon-logo"></use>
                    </svg></a></li>
            <li class="clients-list__item"><a class="clients-list__link link" href=""><svg class="clients-list__icon"
                        width="106" height="60">
                        <use href="./img/icons.svg#icon-logo-1"></use>
                    </svg></a></li>
            <li class="clients-list__item"><a class="clients-list__link link" href=""><svg class="clients-list__icon"
                        width="106" height="60">
                        <use href="./img/icons.svg#icon-logo-2"></use>
                    </svg></a></li>
            <li class="clients-list__item"><a class="clients-list__link link" href=""><svg class="clients-list__icon"
                        width="106" height="60">
                        <use href="./img/icons.svg#icon-logo-3"></use>
                    </svg></a></li>
            <li class="clients-list__item"><a class="clients-list__link link" href=""><svg class="clients-list__icon"
                        width="106" height="60">
                        <use href="./img/icons.svg#icon-logo-4"></use>
                    </svg></a></li>
            <li class="clients-list__item"><a class="clients-list__link link" href=""><svg class="clients-list__icon"
                        width="106" height="60">
                        <use href="./img/icons.svg#icon-logo-5"></use>
                    </svg></a></li>
        </ul>
    </div>
</section>