<!-- features -->
<section class="features-section">
    <div class="container">
        <h2 class="title visually-hidden">Особливості</h2>
        <ul class="features-section__list list">
            <li class="features-section__item">
                <div class="features-section__icon">
                    <svg width="70px" height="70px">
                        <use href="./img/icons.svg#icon-antenna"></use>
                    </svg>
                </div>
                <h3 class="features-section__title">Увага до деталей</h3>
                <p class="features-section__text">Ідейні міркування, і навіть початок повсякденної роботи з
                    формування
                    позиції.</p>
            </li>
            <li class="features-section__item">
                <div class="features-section__icon">
                    <svg width="70px" height="70px">
                        <use href="./img/icons.svg#icon-clock"></use>
                    </svg>
                </div>
                <h3 class="features-section__title">Пунктуальність</h3>
                <p class="features-section__text">Завдання організації, особливо рамки і місце навчання кадрів
                    тягне у
                    себе.
                </p>
            </li>
            <li class="features-section__item">
                <div class="features-section__icon">
                    <svg width="70px" height="70px">
                        <use href="./img/icons.svg#icon-diagram"></use>
                    </svg>
                </div>
                <h3 class="features-section__title">Планування</h3>
                <p class="features-section__text">Так само консультація з широким активом значною мірою
                    зумовлює.
                </p>
            </li>
            <li class="features-section__item">
                <div class="features-section__icon">
                    <svg width="70px" height="70px">
                        <use href="./img/icons.svg#icon-astronaut"></use>
                    </svg>
                </div>
                <h3 class="features-section__title">Сучасні технології</h3>
                <p class="features-section__text">Значимість цих проблем настільки очевидна, що реалізація
                    планових
                    завдань.
                </p>
            </li>
        </ul>
    </div>
</section>