<!-- our team -->
<section class="team-section">
    <div class="container">
        <h2 class="title">Наша команда</h2>
        <ul class="team-list list">
            <li class="team-list__item">
                <img class="team-list__image" srcset="./img/product-designer.jpg 1x, ./img/product-designer@2x.jpg 2x"
                    src="./img/product-designer.jpg" alt="брюнет і в бордовій сорочці" width="270">
                <div class="team-list__container">
                    <h3 class="team-list__title">Ігор Дем'яненко</h3>
                    <p class="team-list__text">Product Designer</p>
                    <ul class="net-list list">
                        <li><a href="" class="net-list__link"><svg class="net-list__icon" width="20" height="20">
                                    <use href="./img/icons.svg#icon-instagram"></use>
                                </svg></a></li>
                        <li><a href="" class="net-list__link"><svg class="net-list__icon" width="20" height="20">
                                    <use href="./img/icons.svg#icon-twitter"></use>
                                </svg></a></li>
                        <li><a href="" class="net-list__link"><svg class="net-list__icon" width="20" height="20">
                                    <use href="./img/icons.svg#icon-facebook"></use>
                                </svg></a></li>
                        <li><a href="" class="net-list__link"><svg class="net-list__icon" width="20" height="20">
                                    <use href="./img/icons.svg#icon-linkedin"></use>
                                </svg></a></li>
                    </ul>
                </div>
            </li>
            <li class="team-list__item">
                <img class="team-list__image"
                    srcset="./img/frontend-developer.jpg 1x, ./img/frontend-developer@2x.jpg 2x"
                    src="./img/frontend-developer.jpg" alt="блондинка в чорному піджаку" width="270">
                <div class="team-list__container">
                    <h3 class="team-list__title">Ольга Рєпіна</h3>
                    <p class="team-list__text">Frontend Developer</p>
                    <ul class="net-list list">
                        <li><a href="" class="net-list__link"><svg class="net-list__icon" width="20" height="20">
                                    <use href="./img/icons.svg#icon-instagram"></use>
                                </svg></a></li>
                        <li><a href="" class="net-list__link"><svg class="net-list__icon" width="20" height="20">
                                    <use href="./img/icons.svg#icon-twitter"></use>
                                </svg></a></li>
                        <li><a href="" class="net-list__link"><svg class="net-list__icon" width="20" height="20">
                                    <use href="./img/icons.svg#icon-facebook"></use>
                                </svg></a></li>
                        <li><a href="" class="net-list__link"><svg class="net-list__icon" width="20" height="20">
                                    <use href="./img/icons.svg#icon-linkedin"></use>
                                </svg></a></li>
                    </ul>
                </div>
            </li>
            <li class="team-list__item">
                <img class="team-list__image" srcset="./img/marketing.jpg 1x, ./img/marketing@2x.jpg 2x"
                    src="./img/marketing.jpg" alt="брюнет в голубій сорочці" width="270">
                <div class="team-list__container">
                    <h3 class="team-list__title">Микола Тарасов</h3>
                    <p class="team-list__text">Marketing</p>
                    <ul class="net-list list">
                        <li><a href="" class="net-list__link"><svg class="net-list__icon" width="20" height="20">
                                    <use href="./img/icons.svg#icon-instagram"></use>
                                </svg></a></li>
                        <li><a href="" class="net-list__link"><svg class="net-list__icon" width="20" height="20">
                                    <use href="./img/icons.svg#icon-twitter"></use>
                                </svg></a></li>
                        <li><a href="" class="net-list__link"><svg class="net-list__icon" width="20" height="20">
                                    <use href="./img/icons.svg#icon-facebook"></use>
                                </svg></a></li>
                        <li><a href="" class="net-list__link"><svg class="net-list__icon" width="20" height="20">
                                    <use href="./img/icons.svg#icon-linkedin"></use>
                                </svg></a></li>
                    </ul>
                </div>
            </li>
            <li class="team-list__item">
                <img class="team-list__image" srcset="./img/ui-designer.jpg 1x, ./img/ui-designer@2x.jpg 2x"
                    src="./img/ui-designer.jpg" alt="брюнет в чорній футболці" width="270">
                <div class="team-list__container">
                    <h3 class="team-list__title">Михайло Єрмаков</h3>
                    <p class="team-list__text">UI Designer</p>
                    <ul class="net-list list">
                        <li><a href="" class="net-list__link"><svg class="net-list__icon" width="20" height="20">
                                    <use href="./img/icons.svg#icon-instagram"></use>
                                </svg></a></li>
                        <li><a href="" class="net-list__link"><svg class="net-list__icon" width="20" height="20">
                                    <use href="./img/icons.svg#icon-twitter"></use>
                                </svg></a></li>
                        <li><a href="" class="net-list__link"><svg class="net-list__icon" width="20" height="20">
                                    <use href="./img/icons.svg#icon-facebook"></use>
                                </svg></a></li>
                        <li><a href="" class="net-list__link"><svg class="net-list__icon" width="20" height="20">
                                    <use href="./img/icons.svg#icon-linkedin"></use>
                                </svg></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>